{:paths ["resources"]
 :deps {org.slf4j/jcl-over-slf4j {:mvn/version "2.0.3"}
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.3"}
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.4"
                                        :exclusions [org.slf4j/slf4j-api]}}
 :aliases
 {:release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}}}
